body{
  background-image: url("https://assets-global.website-files.com/606f63778ec431ec1b930f1f/607986d753127e14256005fd_PancakeSwap_CAKE_token-social.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.parent-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.tkn{
  margin: 0 auto;
}
.child-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px grey;
}
.data{
  height: auto;
  width: 90%;
  position: relative;
}
.combined-button{
margin: 20px;
width: 100%;
display: flex;
justify-content: space-evenly;
}
add:active{
  background-color: brown;
}
remove:active{
  background-color: brown;
}
button{
  background-color: grey;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;

}
.combined-input{
  width: 100%;
display:flex;
flex-direction: column;
justify-content: center;
margin: 20px;
background: lightgray;
box-shadow: 0px 0px 10px grey;
}

input{
  color:navy;
  width: 90%;
  border: none;
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
}

input,
select,
textarea {
  color: grey;
}

input:focus {
  outline: none !important;
  border-color: black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1;
  /* Firefox */
}
.combine-data {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}